
table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 15px;
  font-size: 12px;
}

table th,
table td {
  padding: 10px;
}

table th {
  background: #9b2121;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  overflow: visible;
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
}

table th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #9b2121;
  border-width: 10px;
  margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
  table.company th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #9b2121 10px solid;
    margin-top: -10px;
  }
}

table td {
  background: #f8f8f8;
  width: 360px;
  padding-left: 20px;
}
