.logospace{
  width: 100%;
  height: 320px;
  background-image: url(img/back.jpg);
  background-size: cover;
  background-position: center;
}
.toplogo{
 display: block;
 margin: auto;
}
.sublogo{
  width: 140px;
  height: 86px;
}
.sectionlogo{
  width: 320px;
  height: 167px;
}
a .sectionlogo{
  width: 100%;
  margin: 0 auto;
  transition: opacity 0.25s;
}
a .sectionlogo:hover{
  opacity: 0.5 ;
}
.drawer .sublogo{
  position: absolute;
  bottom: 16px;
}
.title .sublogo{
  width: 98px;
  height: 60px;
}
@media screen and (max-width: 622px) {
  .toplogo{
   width: 90%;
   height: auto;
  }
}
.mcontent {
    padding: 40px 38px;
    border-radius: 2px;
  }
body{
  background-color: #424242;
}
h1 {
    font-size: 32px;
    /* line-height: 48px; */
    border-left: 6px solid #9b2121;
    border-bottom: 1px solid #9b2121;
    padding-left: 0.25em;
}
h2 {
    font-size: 24px;
    /* line-height: 40px; */
    border-left: 3px solid #9b2121;
    padding-left: 0.5em;
    clear: right;
}
h3{
    font-size: 18px;
    /* line-height: 12px; */
}
p{
    text-indent: 1em;
    font-size: 16px;
}
.title a{
    color: #fff;
    text-decoration: none;
}
ul.article a{
    color: #000;
    text-decoration: none;
    font-size: 20px;

}
ul.article a:hover{
    color: #000;
    text-decoration: underline;
    font-size: 20px;
}
.header{
  background-color: #9b2121;
}
.drawer .mdl-layout-title {
  position: relative;
  background: #9b2121;
  height: 130px;
}
.drawer .title {
    position: absolute;
    bottom: 3px;
}
.main-navigation .mdl-navigation__link{
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  transition: background-color 0.25s, border 0.25s;
}
.main-navigation .mdl-navigation__link:hover {
  background-color: #a35b5b;
  border-bottom: 4px solid white;
}
.main-navigation .mdl-navigation__link .active {
  background-color: #a35b5b;
  border-bottom: 4px solid white;
}
a{
  color: #a35b5b;
}
table {
margin: 0 auto;
border-collapse: separate;
border-spacing: 0px 15px;
font-size: 12px;
}

table th,
table td {
padding: 10px;
}

table th {
background: #9b2121;
vertical-align: middle;
text-align: left;
width: 100px;
overflow: visible;
position: relative;
color: #fff;
font-weight: normal;
font-size: 15px;
}

table th:after {
left: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(136, 183, 213, 0);
border-left-color: #9b2121;
border-width: 10px;
margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
table.company th::after {
float: right;
padding: 0;
left: 30px;
top: 10px;
content: " ";
height: 0;
width: 0;
position: relative;
pointer-events: none;
border: 10px solid transparent;
border-left: #9b2121 10px solid;
margin-top: -10px;
}
}

table td {
background: #f8f8f8;
width: 360px;
padding-left: 20px;
}

.photo{
  width: 100%;
  margin: 10px;
}
