body{
  background-color: #bbb;
  background-image: url( DSC_1028.JPG);
  background-size: cover;
  background-position: center center;
}
.main-part{
    border-radius: 2px;
    background-color: rgba(255,255,255,0.6);
    min-height: 70vh;
    box-shadow: 0 2px 10px rgba(0,0,0,.2)
  }
h1,h2{
  display: block;
}
.footer {
  background-color: rgba(127,127,127,0.4);
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1.2rem 1.5rem;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.main-part a{
  color: #1A0DAB;
  text-decoration: underline;
}
.navbar{
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
