{{ $image := .Page.Resources.GetMatch (printf "%s*" (.Get 0)) }}
{{/* Extra Large Image (1024x) */}}
{{ if gt $image.Width 1024 }}
{{ .Scratch.Set "xlarge" ($image.Resize "1024x") }}
{{ else }}
{{ .Scratch.Set "xlarge" ($image) }}
{{ end }}
{{ $xlarge := .Scratch.Get "xlarge" }}
{{/* Large Image (768x) */}}
{{ if gt $image.Width 768 }}
{{ .Scratch.Set "large" ($image.Resize "768x") }}
{{ else }}
{{ .Scratch.Set "large" ($image) }}
{{ end }}
{{ $large := .Scratch.Get "large" }}
{{/* Middle Image (576x) */}}
{{ if gt $image.Width 576 }}
{{ .Scratch.Set "middle" ($image.Resize "576x") }}
{{ else }}
{{ .Scratch.Set "middle" ($image) }}
{{ end }}
{{ $middle := .Scratch.Get "middle" }}
{{/* Small Image (384x) */}}
{{ if gt $image.Width 384 }}
{{ .Scratch.Set "small" ($image.Resize "384x") }}
{{ else }}
{{ .Scratch.Set "small" ($image) }}
{{ end }}
{{ $small := .Scratch.Get "small" }}
<figure class="text-center py-3 my-1 {{with .Get 1 }}{{.}}{{ end }}">
  <a href="{{ $image.RelPermalink }}" target="_blank">
  <img
  alt="{{ $image.Title }}"
  class="image-shortcode"
  src="{{ $small.RelPermalink }}"
  srcset="{{ $small.RelPermalink }} 384w, {{ $middle.RelPermalink }} 586w, {{ $large.RelPermalink }} 768w, {{ $xlarge.RelPermalink }} 1024w"
  title="{{ $image.Title }}"
  ></a>
</figure>
